span svg{
    width:1%;
  }

.container{
    display:flex;
    width: 100%;
    justify-content:center;
    text-align:center;
  }

  .wrapper{
    background: #fff;
    box-shadow:3px 3px 10px 1px #000;
    border-radius: 15px;
    text-align: center;
    width: 70%;

    display: flex;
    flex-flow: row wrap;

  }

  .search_bar{
    position: relative;
    top: 2em;    
    bottom: 10em;
    width: 100%;
    z-index: 900;

  }

  .search_bar form{
    border:solid 1px #800080;
    text-align: center;
    padding: auto 20px;

    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .search_bar form input{
    height: 50px;
    width: 100%;
  }

  .search_bar form input, form svg{
    width: 100%;
    margin: 10px;
    
  }

  form input:focus{
    outline: none;
  }

  form svg{
    width:3%;
  }

  .product{
    background:pink;
    width:28em;
    overflow:hidden;
    margin:3em auto 0px auto ;
    border-radius: 15px;
    
  }

  .product-details {
    position:relative;
    top:-5em;
  }
  
  .product-details span{
    padding:3em auto;
    font-size: 20px;
    font-family: monospace;
  }

  .product-details #plate-des{
    font-weight: bold;
    color: #800080;
  }

  .product-details h3 b{
    text-decoration: underline wavy;
    color: #fff;
    font-weight: 900;
    font-size: 30px;
  }
  
  .product-image #plate{
    height:15em;
    width:100%;
  }
  
  .Driver{
    height:8em;
    width:8em;
    border-radius:150px;
    
    z-index:200;
    position:relative;
    
    margin:auto 50%;
    top:-5em;
  }
  
  .Driver:hover{
    transition:transform, 0.5s ease-in-out;
    transform:scale(1.2);
    cursor:pointer;
    
    position:relative;
    margin:auto 50%;
  }

  #info{
    margin:10px;
  }
  
  .name{
    font-size:130px;
  }
  
